<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronavirus Annotation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bundle.css')}}">
    <!-- FIREBASE LINKS FOR UI -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.css" />
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
    <!-- read json file for config -->
    <script>
     
      var firebaseConfig = {
        apiKey: "{{ apiKey }}",
        authDomain: "coronavirus-anno-two.firebaseapp.com",
        databaseURL: "https://coronavirus-anno-two.firebaseio.com",
        projectId: "coronavirus-anno-two",
        storageBucket: "coronavirus-anno-two.appspot.com",
        messagingSenderId: "632575175956",
        appId: "1:632575175956:web:39364f6d52e14a68892601",
        measurementId: "G-MF3LEVKHZM"
      };

      firebase.initializeApp(firebaseConfig);

      var ui = new firebaseui.auth.AuthUI(firebase.default.auth());

      ui.start('#sign-in-container', {
      callbacks: {
              signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                var user = authResult.user;
                var credential = authResult.credential;
                var isNewUser = authResult.additionalUserInfo.isNewUser;
                var providerId = authResult.additionalUserInfo.providerId;
                var operationType = authResult.operationType;

                // Do something with the returned AuthResult.
                // Return type determines whether we continue the redirect
                // automatically or whether we leave that to developer to handle.
                return true;
              },
              
              signInFailure: function(error) {
                // Some unrecoverable error occurred during sign-in.
                // Return a promise when error handling is completed and FirebaseUI
                // will reset, clearing any UI. This commonly occurs for error code
                // 'firebaseui/anonymous-upgrade-merge-conflict' when merge conflict
                // occurs. Check below for more details on this.
                return handleUIError(error);
              },
              uiShown: function() {
                // The widget is rendered.
                // Hide the loader.
                //document.getElementById('loader').style.display = 'none';
              }
        },
        signInFlow: 'popup',
        signInSuccessUrl:"{{url_for('dashboard.index', user=currentUser)}}",
        signInOptions: [
          {
            provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            clientId: '632575175956-49a1hie4ab4gr69vak5onr307fg67bb0.apps.googleusercontent.com'
          },
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
          firebaseui.auth.AnonymousAuthProvider.PROVIDER_ID,
        ],
        // Other config options...
      });
    </script>
  </head>
  <body>
    <div id=sign-in-header><h3>Sign in:</h3></div>
    <div id="sign-in-container"></div>

  </body>
</html>

