<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronavirus Annotation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bundle.css')}}">
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
  <body>
    <div id="wrapper">
      <div id="top-bar">
        <div id="user"></div> 
        <div id="toggle-wrap">
          <span>Sort by questions</span>
          <div  id="toggle"><!-- Rounded switch -->
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label></div>
        </div>
       
        <div class="add-comment"><button class="btn btn-outline-secondary btn-sm" value="off">Add Comment</button></div>
      </div>
      <div id="left-sidebar">
        <div class="top"></div>
        <div class="sel-anno-wrap"></div>
        <div class="anno-wrap"></div></div>
      <div id="main">
        <div id="video-wrap">
          <div id="video-controls">
            <div class="play-pause play">
              <i class="far fa-play-circle fa-2x"></i>
            </div>
            <div class="time">
              <time id="time-elapsed">00:00</time>
              <span> / </span>
              <time id="duration">00:00</time>
            </div>
       
              <div class="progress-bar">
                <div class="progress-bar-fill"></div>
              </div>
          </div>
          <video controls class="video" id="video" preload="metadata">
            <source src="{{url_for('static', filename='assets/entryComp_ver2_credit_110920.mp4')}}" type="video/mp4">
          </video>
          <canvas  id="canvas"></canvas>
          <div id="interaction"></div>
        </div>
      </div>
      <div id="right-sidebar">
        <div id="comment-wrap">
          <div class="top"></div>
          <div class="selected-comm-wrap"></div>
          <div class="general-comm-wrap"></div>
        </div>
      </div>
    </div>


    <script src="{{url_for('static', filename='bundle.js')}}"></script>
  </body>
</html>
